@import './config.scss';
@mixin flex($hov:space-between,$col:center){
  //形参默认值，封装flex样式函数，导入之后调用：@include flex();
  display: flex;
  justify-content:$hov;
  align-items: $col;
}

@mixin content {
  width: $min-width;
  margin: 0 auto;
}

@mixin bgimage($w:0,$h:0,$url:'',$size:contain,$position:center) {
  display: inline-block;
  width: $w;
  height: $h;
  background: url($url) no-repeat $position;
  background-size: $size;
}