@import './config.scss';
@mixin flex($hov:space-between,$col:center){
  display: flex;
  justify-content:$hov;
  align-items: $col;
}

@mixin content {
  width: $min-width;
  margin: 0 auto;
}
@mixin imgsize($w:100%,$h:100%) {
  width: $w;
  height:$h;
}
@mixin bgimage($w:0,$h:0,$url:'',$size:contain,$position:center) {
  display: inline-block;
  width: $w;
  height: $h;
  background: url($url) no-repeat $position;
  background-size: $size;
}